cell_width = 100px;
cell_height = 100px;

for i in (1..4)
	for j in (1..4)
		#speck-cell-{j}-{i}
			left (i * cell_width) - cell_width
			top (j * cell_height) - cell_height

*
	box-sizing border-box

.specks
	width cell_width * 4
	height cell_height * 4
	border solid 1px #000
	position relative
	&:after, &:before
		content " "
		display table
	&:after
		clear both
	&:not(.active)
		&:after
			display block
			position absolute
			width 100%
			height 100%
			background rgba(255,255,255,0.7)
			z-index 10
	.speck-cell
		position absolute
		width cell_width
		height cell_height
		line-height cell_height
		text-align center
		border solid 1px #000
		transition all 500ms ease
		cursor pointer
	.specks-results
		margin-top 20px


